body {
    background: #230A59;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment
{
display: flex; 
padding: 10px;
margin: 10px;
background: #0029FA;
}

.assignment img {
    width:200 px;
    border: 2px solid #3E38F2;
    margin-right: 20 px;
}

h1
{
    color: #829FD9;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3E38F2;
 }