body {
    background: #D9C6B0;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment
{
display: flex; 
padding: 10px;
margin: 10px;
margin-bottom: 30px;
background: #BF8275;
border-radius: 5px;
box-shadow: 5px 9 px #F2F2F2;
}

.assignment img {
    width: 150 px;
    border: 2px solid #BF8275;
    margin-right: 20 px;
    border-radius: 5px;
}

h1
{
    color:#F2F2F2;
    text-align: center;
}

a {
    text-decoration: none;
    color: #BF8275;
 }
 .assignment a:hover
 {
    color: #F2F2F2;
 }
