body {
    background: #230A59;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment
{
display: flex; 
padding: 10px;
margin: 10px;
margin-bottom: 30px;
background: #0029FA;
border-radius: 5px;
box-shadow: 5px 9 px #829FD9;
}

.assignment img {
    width:150 px;
    border: 2px solid #3E38F2;
    margin-right: 20 px;
    border-radius: 5px;
}

h1
{
    color: #829FD9;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3E38F2;
 }
 .assignment a:hover
 {
    color: #829FD9;
 }
